//Contacts====================================================================================================

.contacts {
      text-align: center;
      padding-top: rem(212);
      @include adaptiveValue("padding-bottom", 50, 15);

      @media (max-width:$mobile) {
            @include adaptiveValue("padding-top", 212, 130);
      }

      // .contacts__items

      &__items {
            display: grid;
            grid-template-columns: repeat(auto-fit, rem(255));
            justify-content: center;
            @include adaptiveValue("gap", 50, 10);

            @media (max-width:$pc) {
                  grid-template-columns: repeat(auto-fit, rem(360));
            }

            @media (max-width:rem(500)) {
                  //grid-template-columns: 1fr;
            }

            @media (max-width:$mobileSmall) {
                  grid-template-columns: 1fr;
            }
      }
}

.contacts-item {
      @include adaptiveValue("padding", 25, 15);
      background-color: #f8f8f8;
      border: rem(2) solid #fff;
      border-radius: rem(26);
      box-shadow: rem(0) rem(0) rem(10) rem(3) rgb(214 214 214 / 75%);
      display: flex;
      flex-direction: column;
      text-align: center;
      @include adaptiveValue("gap", 20, 8);
      // .contacts-item__title

      &__title {
            @include adaptiveValue("font-size", 24, 20);
            color: $darkBlue;
            text-transform: uppercase;
            font-weight: 700;
      }

      // .contacts-item__text

      &__text {
            font-size: rem(21);
            @include adaptiveValue("font-size", 21, 18);
      }

      // .contacts-item__link

      &__link {
            font-size: rem(21);
            @include adaptiveValue("font-size", 21, 18);
            transition: color 0.3s ease 0s;

            @media (any-hover: hover) {
                  &:hover {
                        color: $purple;
                  }
            }
      }

      // .contacts-item__list

      &__list {
            li {
                  &:not(:last-child) {
                        margin-bottom: rem(5);
                  }
            }
      }
}

.contacts-form {
      @include adaptiveValue("padding-top", 50, 15);
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 25, 10);

      // .contacts-form__title

      &__title {
            @include adaptiveValue("font-size", 24, 20);
            color: $darkBlue;
            font-weight: 700;
      }

      // .contacts-form__inputs

      &__inputs {
            display: flex;
            justify-content: center;
            gap: rem(12);
            @include adaptiveValue("margin-bottom", 30, 12);

            @media (max-width:$mobile) {
                  flex-direction: column;
            }
      }

      // .contacts-form__input

      &__input {
            box-shadow: rem(0) rem(0) rem(10) rem(3) rgb(214 214 214 / 75%);
            flex: 0 1 50%;
            background-color: #f8f8f8;
            border-radius: rem(26);
            padding: rem(20);
            flex-wrap: wrap;

            &::placeholder {
                  color: $darkBlue;
            }
      }

      // .contacts-form__button

      &__button {
            min-width: rem(400);
            box-shadow: rem(-6) rem(6) rem(5) rem(0) rgba(0, 0, 0, 0.2);

            @media (max-width:$mobile) {
                  min-width: 100%;
            }
      }
}